*
!*/
!.gitignore


!STM32F103C8/Doc/**
!STM32F103C8/Core/**/*.h
!STM32F103C8/Core/**/*.c
!STM32F103C8/Drivers/**/*.h
!STM32F103C8/Drivers/**/*.c
!STM32F103C8/MDK-ARM/*.s
!STM32F103C8/MDK-ARM/*.uvprojx
!STM32F103C8/Middlewares/**/*.c
!STM32F103C8/Middlewares/**/*.h
!STM32F103C8/*.ioc
!STM32F103C8/OpenOCD/**
!STM32F103C8/SVD/**
!STM32F103C8/Makefile/**
!STM32F103C8/*.ld
!STM32F103C8/Makefile


!PY32测试开发板_MDK/Core/**/*.h
!PY32测试开发板_MDK/Core/**/*.c
!PY32测试开发板_MDK/Doc/**
!PY32测试开发板_MDK/Drivers/**/*.h
!PY32测试开发板_MDK/Drivers/**/*.c
!PY32测试开发板_MDK/MDK-ARM/*.s
!PY32测试开发板_MDK/MDK-ARM/*.uvprojx
!PY32测试开发板_MDK/Middlewares/**/*.c
!PY32测试开发板_MDK/Middlewares/**/*.h


/.idea/**



